[Unit]
Description=PWM Service

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre
Environment=CATALINA_HOME=/home/fhir/apache-tomcat-8.5.9
Environment=CATALINA_BASE=/home/fhir/apache-tomcat-8.5.9
Environment=CATALINA_PID=/home/fhir/apache-tomcat-8.5.9/temp/tomcat.pid
Environment='CATALINA_OPTS=-Xms216M -Xmx512M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/home/fhir/apache-tomcat-8.5.9/bin/startup.sh
ExecStop=/home/fhir/apache-tomcat-8.5.9/bin/shutdown.sh

User=fhir
Group=fhir
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target