[Unit]
Description=PWM Service

[Service]
User={{username}}
TimeoutStartSec=infinity
WorkingDirectory={{install_dir}}/apache-tomcat-8.5.9
ExecStart={{install_dir}}/apache-tomcat-8.5.9/bin/catalina.sh start
ExecStop={{install_dir}}/apache-tomcat-8.5.9/bin/catalina.sh start
Restart=always

[Install]
WantedBy=multi-user.target
