[Unit]
Description=Sandbox Mgr3 Service

[Service]
User={{username}}
TimeoutStartSec=infinity
WorkingDirectory={{install_dir}}/hspc/sandbox-manager/target
{% if sandbox_manager_secure_http and not use_custom_ssl_certificates %}
ExecStart=/usr/bin/java \
  -Dserver.port=9005 \
  -Dspring.datasource.url=jdbc:mysql://{{mysql_endpoint}}/{{sandbox_manager_database}} \
  -Dspring.datasource.username={{mysql_user}} \
  -Dspring.datasource.password={{mysql_pass}} \
  -Dspring.jpa.hibernate.ddl-auto=update \
  -Dhspc.platfrom.authorization.port={{auth_server_port}} \
  -Dhspc.platfrom.authorization.context={{auth_server_context}} \
  -Dhspc.platform.api.oauth2.clientId={{auth_server_client}} \
  -Dhspc.platform.api.oauth2.clientSecret={{auth_server_password}} \
  -Dhspc.platform.api.version1.port={{api_dstu2_port}} \
  -Dhspc.platform.api.version1.context={{api_dstu2_context}} \
  -DenvInfo.active=true \
  -DdefaultServiceUrl={{api_dstu2_smart_sandbox_url}} \
  -DbaseServiceUrl_1={{api_dstu2_base_url}} \
  -DbaseServiceUrl_2= \
  -DbasePersonaServiceUrl_1={{api_dstu2_base_url}} \
  -DbasePersonaServiceUrl_2 \
  -DoauthLogoutUrl={{auth_server_base}}/logout \
  -DoauthAuthenticationUrl={{auth_server_base}}/static/auth/index.html \
  -DuserManagementUrl= \
  -Djavax.net.ssl.trustStore={{install_dir}}/keystore \
  -Djavax.net.ssl.trustStorePassword={{keystore_password}} \
  -jar hspc-sandbox-manager.war
{% else %}
ExecStart=/usr/bin/java \
  -Dserver.port=9005 \
  -Dspring.datasource.url=jdbc:mysql://{{mysql_endpoint}}/{{sandbox_manager_database}} \
  -Dspring.datasource.username={{mysql_user}} \
  -Dspring.datasource.password={{mysql_pass}} \
  -Dspring.jpa.hibernate.ddl-auto=update \
  -Dhspc.platfrom.authorization.port={{auth_server_port}} \
  -Dhspc.platfrom.authorization.context={{auth_server_context}} \
  -Dhspc.platform.api.oauth2.clientId={{auth_server_client}} \
  -Dhspc.platform.api.oauth2.clientSecret={{auth_server_password}} \
  -Dhspc.platform.api.version1.port={{api_dstu2_port}} \
  -Dhspc.platform.api.version1.context={{api_dstu2_context}} \
  -DenvInfo.active=true \
  -DdefaultServiceUrl={{api_dstu2_smart_sandbox_url}} \
  -DbaseServiceUrl_1={{api_dstu2_base_url}} \
  -DbaseServiceUrl_2= \
  -DbasePersonaServiceUrl_1={{api_dstu2_base_url}} \
  -DbasePersonaServiceUrl_2 \
  -DoauthLogoutUrl={{auth_server_base}}/logout \
  -DoauthAuthenticationUrl={{auth_server_base}}/static/auth/index.html \
  -DuserManagementUrl= \
  -jar hspc-sandbox-manager.war
{% endif %}
Restart=always

[Install]
WantedBy=multi-user.target
